@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-select {
  @apply p-1 text-xs border rounded bg-transparent;
}

.custom-select option {
  padding: 4px;
  border-color: #212121;
  background-color: #212121;
  color: #212121;
}

video::-webkit-media-controls {
  display: none;
}
